.home__container
  h1.home__banner-heading.default-text-shadow Les Arènes de Captain Contrat

  div
    = link_to new_battle_path do
      button.home__new-battle-button Nouvelle bataille
  div
    = link_to battles_path do
      button.home__new-battle-button Stats des batailles

  div class="box"
    ul
      li class="item-1" Il était une fois, dans une arène en-dessous du Grand Rex...
      li class="item-2" Captain Contrat était le roi du monde.
      li class="item-3" Son peuple mangeait bien, buvait bien, et surtout...
      li class="item-4" Ils savaient bien comprendre les contrats.
      li class="item-5" Les avocats se battaient pour impressionner le capitaine,
      li class="item-6" et le perdant était souvent le repas de son tigre domestique le soir...
      li class="item-7" C'était un autre monde,
      li class="item-8" c'était un autre temps.
      li class="item-9" Et pour seulement une semaine, les arènes rouvent les portes !

