.battle-stats__container
  = link_to root_path, class: "go-back-link navigation-link default-text-shadow" do
    i.fa.fa-arrow-left
    | Retourner à l'arène
  h1.default-text-shadow Les Stats des Batailles
  .stats-table__container
    - if @battles.any?
      - @battles.each do |battle|
        div.battle-container
          .battle
            div class=(["fighter", battle.fighters[0].winner ? "winner" : ""])
              = image_tag "trophy.jpg", class: "trophy-image"
              div class="player player_one"
                = image_tag battle.fighters[0].player.avatar.url
            div class=(["fighter", battle.fighters[1].winner ? "winner" : ""])
              div class="player player_two"
                = image_tag battle.fighters[1].player.avatar.url
              = image_tag "trophy.jpg", class: "trophy-image"
    - else
      h3 Aucune bataille pour le moment
      = link_to 'Lancer une nouvelle bataille !', new_battle_path, class: 'default-text-shadow'
