.new-player__container
  = link_to new_battle_path, class: "go-back-link navigation-link default-text-shadow" do
    i.fa.fa-arrow-left
    div Retourner
  end
  .new-player__form
    h1.default-text-shadow Créer votre propre personnage
    = simple_form_for @player do |f|
      = f.input :name, label: "Nom"
      = f.input :life_points, label: "Points de vie"
      = f.input :attack_points, label: "Points d'attaque"
      = f.input :avatar, label: "Choisir image d'avatar"
      = f.submit "Créer personnage"
    end
