@import "config/variables";
@import "pages";
@import "players";
@import "battles";
@import "font-awesome";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: image-url('gladiator_background.jpg') no-repeat;
  background-size: cover;
}
body, p {
  font-family: $base-font;
  margin: 0;
  h1, h2, h3, h4, h5 {
    font-family: $header-font;
  }
  p, a, button {
    font-family: $base-font;
    font-size: $base-size;
  }
}
.default-text-shadow {
  color: white;
  text-shadow: 2px 2px 8px $venetian-red;
}
.navigation-link {
  display: flex;
  font-family: 'VT323', monospace;
  position: absolute;
  top: 40px;
  text-decoration: none;
  &:hover {
    color: $venetian-red;
    text-shadow: 2px 2px 8px white;
  }
}
.go-back-link {
  left: 40px;
  i {
    margin-right: 8px;
  }
}
