.battle__container {
  .battle__header {
    text-align: center;
  }
  .battle__ring {
    @include flex-centered();
    padding: 40px;
    .player__container {
      display: flex;
      align-items: flex-end;
      flex: 1;
      height: 400px;
      .life-measure__container {
        background: $venetian-red;
        border-radius: 3px 3px 0 0;
        width: 70px;
        height: 400px;
        position: relative;
        &.player-1 {
          margin-right: 40px;
        }
        &.player-2 {
          margin-left: 40px;
        }
        .life-measure__bar {
          background: $lime-green;
          width: 70px;
          height: 100%;
          position: absolute;
          bottom: 0;
          transition: height 0.4s;
        }
      }
      img {
        background: white;
        border-radius: 3px;
        padding: 20px;
        width: 300px;
        height: 300px;
        transition: opacity 0.5s;
        &.winner-image {
          width: 400px;
          height: 400px;
        }
      }
      &.player-one__container.animate {
        justify-content: space-between;
      }
      &.player-two__container {
        justify-content: flex-end;
        &.animate {
          justify-content: space-between;
        }
      }
    }
  }
  .battle__launch-new {
    margin-bottom: 50px;
    text-align: center;
    visibility: hidden;
    button {
      background: #e04343;
      border: 2px solid $venetian-red;
      border-radius: 3px;
      color: white;
      cursor: pointer;
      font-size: 32px;
      text-shadow: 2px 2px 8px #C80F1A;
      width: 30%;
      height: 50px;
      transition: all 0.32 ease;
      &:hover {
        background: white;
        color: $venetian-red;
        text-shadow: none;
      }
    }
  }
}
.battle-stats__container {
  text-align: center;
  .battle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto 30px;
    width: 70%;
    .fighter {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex: 1;
      .trophy-image {
        background: $venetian-red;
        width: 100px;
        height: 100px;
        visibility: hidden;
      }
      .player_one, .player_two {
        background: $pablo-brown;
        padding: 10px;
        img {
          background: white;
          border-radius: 2px;
          padding: 10px;
          width: 200px;
          height: 200px;

        }
      }
      &.winner {
        .player {
          border: 5px solid $venetian-red;
        }
        .trophy-image {
          visibility: visible;
        }
      }
    }
  }
}
