.home__container {
  margin-top: 8%;
  text-align: center;
  .home__banner-heading {
    margin: 0 auto;
    padding: 1%;
    width: 70%;
  }
  .home__new-battle-button {
    background: #e04343;
    border: 2px solid $venetian-red;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 35px;
    margin-top: 3%;
    min-height: 50px;
    outline: none;
    text-shadow: 2px 2px 8px #C80F1A;
    width: 30%;
    height: 70px;
    transition: all 0.32 ease;
    &:hover {
      color: $venetian-red;
      background: white;
      text-shadow: none;
    }
  }
}
$item-count: 9;
$item: 1 / $item-count;
.box {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  height: 200px;
  margin: 100px 250px;
  min-width: 1000px;
  overflow: hidden;
}
ul {
  margin: 110px 0 20px;
  padding: 0;
  animation: scrollUp 30s 0.5s infinite forwards;
  li {
    font-size: 32px;
    color: white;
    opacity: 1;
    height: 20px;
    padding: 10px 0;
    list-style: none;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes scrollUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY((-100% / $item-count) * ($item-count - 1));
  }
}
