@mixin flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.battle-setup__container {
  background-size: cover;
  color: $pablo-brown;
  padding-bottom: 50px;
  text-align: center;
  .battle-setup__header {
    margin-top: 0;
    padding-top: 50px;
  }
  .players-preview {
    @include flex-centered();
    margin: 10px 0;
    img {
      background: white;
    }
    .player {
      @include flex-centered();
      background-color: $pablo-brown;
      border-radius: 3%;
      color: white;
      margin: 5px;
      i {
        font-size: 22px;
      }
      img {
        margin: 10px;
        width: 100px;
        height: 100px;
        transition: all 0.3s ease;
      }
      &.player-middle {
        background-color: $venetian-red;
        img {
          width: 120px;
          height: 120px;
        }
      }
      &.player-left, &.player-right {
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover {
          img {
            width: 103px;
            height: 103px;
          }
          i {
            font-size: 25px;
          }
        }
      }
      &.player-left {
        padding-left: 7px;
      }
      &.player-right {
        padding-right: 7px;
      }
    }
  }
  .player-select__wrapper {
    @include flex-centered();
  }
  button {
    background: white;
    border: 2px solid #C80F1A;
    border-radius: 3px;
    color: #C80F1A;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 15px;
    transition: all 0.3s ease;
    &:hover {
      background: #C80F1A;
      color: white;
    }
    i {
      font-size: 32px;
    }
  }
  .player-select__container {
    @include flex-centered();
    .player-selected__wrapper {
      &.one {
        margin-right: 40px;
      }
      &.two {
        margin-left: 40px;
      }
      h5 {
        color: white;
        text-shadow: 2px 2px 8px $venetian-red;
        width: 160px;
      }
      .player-one__selected, .player-two__selected {
        @include flex-centered();
        background: $venetian-red;
        border-radius: 3px;
        color: white;
        font-size: 200px;
        width: 160px;
        height: 160px;
        img {
          width: 120px;
          height: 120px;
        }
      }
    }
    .player-select__inner-container {
      @include flex-centered();
      border-radius: 3px;
      background-color: #9A8D80;
      padding: 20px 0;
      width: 350px;
      height: 100%;
      min-height: 491px;
      .inner-container__content {
        text-align: center;
        button {
          margin-top: 0;
          margin-bottom: 20px;
        }
        .player-select__image {
          background: white;
          border-radius: 50%;
          width: 250px;
          height: 250px;
        }
        .player-select__details {
          color: white;
          text-align: center;
          .player-select__name {
            text-align: center;
          }
        }
      }
      .item-chooser {
        background: #d6c9bd;
        margin: 25px 0;
        padding: 5px;
        .item {
          &.selected {
            background: $venetian-red;
            color: white;
          }
        }
      }
    }
  }
  .start-battle-button {
    font-size: 32px;
    height: 70px;
    margin: 50px 0;
    width: 25%;
  }
}
.player-one-selected {
  img {
    width: 120px;
    height: 120px;
  }
}
.new-player-link {
  right: 40px;
  i {
    margin-left: 8px;
  }
}
.new-player__container {
  @include flex-centered();
  margin: 50px 100px;
  .new-player__form {
    h1 {
      margin-bottom: 50px;
    }
    input {
      font-family: 'VT323', monospace;
    }
    div.input {
      display: flex;
      align-items: center;
      margin: 10px;
      label {
        color: white;
        font-size: 38px;
        width: 30%;
        abbr {
          display: none;
        }
      }
      input {
        border: none;
        border-radius: 3px;
        width: 20%;
        height: 28px;
        background: black;
        color: white;
        text-align: center;
        font-size: 22px;
        padding: 5px;
      }
      &.player_name {
        input {
          width: 40%;

        }
      }
      &.player_avatar {
        label {
          width: 40%;
        }
        input { display: none; }
      }
      span {
        margin-left: 5px;
      }
    }
    input[type="submit"], div.player_avatar > label {
      background: white;
      border: 3px solid black;
      border-radius: 3px;
      color: black;
      font-size: 30px;
      margin-left: 30%;
      padding: 4px;
      cursor: pointer;
      text-align: center;
      transition: all 0.3s ease;
      &:hover {
        color: white;
        background: black;
      }
    }
    input[type="submit"] {
      margin: 50px auto;
      width: 100%;
    }
  }
}
.hide {
  display: none !important;
}
